.tableName{
    display:inline
}

.addTask{
    vertical-align:middle;  
}

.countDown{
    margin-left: auto;
    margin-right: auto;
    font-size: 100px;
    width: 250px;
}
.counter
{
    margin-left: auto;
    margin-right: auto;
}
.selectedTask{
    border-bottom: 1px solid black !important; /*had to... */
}
.taskView {
  height: 20px;
  width: auto;
  padding: 8px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #DFDFDF;
  margin-bottom: 5px;
  cursor: pointer;
  background: rgb(220,220,220); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(220,220,220,1) 0%, rgba(200,200,200,1) 100%, rgba(211,211,211,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220,220,220,1)), color-stop(100%,rgba(200,200,200,1)), color-stop(100%,rgba(211,211,211,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(200,200,200,1) 100%,rgba(211,211,211,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(200,200,200,1) 100%,rgba(211,211,211,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(220,220,220,1) 0%,rgba(200,200,200,1) 100%,rgba(211,211,211,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(220,220,220,1) 0%,rgba(200,200,200,1) 100%,rgba(211,211,211,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
}
.taskView:hover {
  background: rgb(222,222,222); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(222,222,222,1) 0%, rgba(212,212,212,1) 100%, rgba(211,211,211,1) 100%, rgba(222,222,222,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,222,222,1)), color-stop(100%,rgba(212,212,212,1)), color-stop(100%,rgba(211,211,211,1)), color-stop(100%,rgba(222,222,222,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(212,212,212,1) 100%,rgba(211,211,211,1) 100%,rgba(222,222,222,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(212,212,212,1) 100%,rgba(211,211,211,1) 100%,rgba(222,222,222,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(222,222,222,1) 0%,rgba(212,212,212,1) 100%,rgba(211,211,211,1) 100%,rgba(222,222,222,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(222,222,222,1) 0%,rgba(212,212,212,1) 100%,rgba(211,211,211,1) 100%,rgba(222,222,222,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}